
{% load staticfiles %}

{% load i18n %}


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% trans 'Please note...' as title %}
		<title>{% block title %}{% firstof caption title %}{% endblock title %}</title>
		<!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
		<link rel="icon" href="{% block favicon %}{% static 'favicon.png' %}{% endblock favicon %}">
		<meta name="author" content="markv.nl">
		<link rel="stylesheet" type="text/css" href="{% static 'exceptions/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'exceptions/display_exception.css' %}">
		<style type="text/css">{% block style %}{% endblock style %}</style>
	</head>
	<body>
		<div id="page">
			<div class="container">
				<div id="content" class="jumbotron">
					<div class="row">
						{% block content %}
							<div id="icon" class="col-xs-12 col-md-3">
								{% block icon %}
									<span class="glyphicon glyphicon-question-sign"></span>
								{% endblock icon %}
							</div>

							<div class="col-xs-12 col-md-9">
								<h1 id="caption">
									{% block caption %}
										{% trans 'Please note...' as cap %}
										{% firstof caption cap %}
									{% endblock caption %}
								</h1>

								<div id="message">
									{% block message %}
										{{ message|linebreaks }}
									{% endblock message %}
								</div>

								<div id="actions">
									<div class="btn-group btn-group-justified" role="group">
										{% block actions %}
											{% if next %}
												<a href="{{ next }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> {% trans 'Continue' %}</a>
											{% else %}
												<a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-home"></span> {% trans 'Okay' %}</a>
											{% endif %}
										{% endblock actions %}
									</div>
								</div>
							</div>
						{% endblock content %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>


