
{% load staticfiles %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% firstof caption 'Please note...' %}</title>
		<meta name="author" content="markv.nl">
		<link rel="stylesheet" type="text/css" href="{% static 'exceptions/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'exceptions/display_exception.css' %}">
	</head>
	<body>
		<div id="page">
			<div class="container">
				<div id="content" class="jumbotron">
					<div class="row">
						{% block content %}
							<div id="icon" class="col-xs-12 col-md-3">
								{% block icon %}
									<span class="glyphicon glyphicon-question-sign"></span>
								{% endblock icon %}
							</div>

							<div class="col-xs-12 col-md-9">
								<h1 id="caption">
									{% block caption %}
										{% firstof caption 'Please note...' %}
									{% endblock caption %}
								</h1>

								<p id="message">
									{% block message %}
										{{ message|linebreaks }}
									{% endblock message %}
								</p>

								<div id="actions">
									{% block actions %}
									<div class="btn-group btn-group-justified" role="group">
										{% if next %}
											<a href="{{ next }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> Continue</a>
										{% else %}
											<a href="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-home"></span> Okay</a>
										{% endif %}
									</div>
									{% endblock actions %}
								</div>
							</div>
						{% endblock content %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>


